<div class='container'>
  <div class='mainBanner row'>

      <div class='right top'>
        <ul class='pictures row'>
          <li><img src='/homepage_ux-dev.jpg' ></li>
          <li><img src='/homepage_writer-illus.jpg' ></li>
          <li><img src='/homepage_dev-dev.jpg' ></li>
        </ul>
      </div>

      <div class='left'>
        <ul class='homeDescription'>
          <li>Post your projects and connect with people to work on them.</li>
          <li>Offer your skills to others to help them complete their projects.</li>
          <li>Be a part of something innovative.</li>
        </ul>

        <div class='buttons'>
          <%= link_to 'Browse Open Projects', projects_path %>
        </div>
        <div class='signUp'>
          <p>Or <%= link_to 'Sign Up', new_user_path %> to begin posting!</p>
        </div>

      </div>

      <div class='right bottom'>
        <ul class='pictures row'>
          <li><img src='/homepage_ux-dev.jpg' ></li>
          <li><img src='/homepage_writer-illus.jpg' ></li>
          <li><img src='/homepage_dev-dev.jpg' ></li>
        </ul>
      </div>



  </div>

  <div class='mainBody row'>

      <div class='left why'>
        <h3>Why Collaborate?</h3>

        <ul>
          <li>You need help on that project you working on, be it a side project or something you have always wanted to do.</li>
          <li>You have a special skill, and you want to help others.</li>
          <li>You want to learn a new skill by working with someone else, amateur or professional.</li>
          <li>You want to experience or create something new.</li>
        </ul>
      </div>

      <div class='what right'>
        <h3>What Can I Collaborate On?</h3>

        <ul>
          <li>Anything!</li>
          <li>Write a work of fiction.</li>
          <li>Work on a film.</li>
          <li>Go on a photography expedition.</li>
          <li>Learn to code with someone, and build an app.</li>
        </ul>
      </div>

  </div>
</div>
