<p><a href='/sessions/new'>Log In</a></p>

<div class='mainBanner'>
  <div class='left'>
    <ul>
      <li><p>Post your projects and connect with people to work on them.</p></li>
      <li><p>Offer your skills to others to help them complete their projects.</p></li>
      <li><p>Be a part of something innovative.</p></li>
    </ul>

    <p><a href='/projects'>Browse Open Projects</a></p>

    <p>Or <a href='/users/new'>Sign Up</a> to begin posting!</p>
  </div>

  <div class='right'>
    <ul>
      <li><img src=''></li>
      <li><img src=''></li>
      <li><img src=''></li>
    </ul>
  </div>
</div>

<div class='mainBody'>
  <div class='left'>
    <h3>Why Collaborate?</h3>

    <p>You need help on that project you working on, be it a side project or something you have always wanted to do.</p>
    <p>You have a special skill, and you want to help others.</p>
    <p>You want to learn a new skill by working with someone else, amateur or professional.</p>
    <p>You want to experience or create something new.</p>
  </div>

  <div class='right'>
    <h3>What Can I Collaborate On?</h3>
    <h5>Anything!</h5>

    <p>Write a work of fiction.</p>
    <p>Work on a film.</p>
    <p>Go on a photography expedition.</p>
    <p>Learn to code with someone, and build an app.</p>
  </div>
</div>
