/* Sign-In and Sign-up */

.signin {
  width: 40%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.signin input {
  padding: 15px;
  margin: 20px;
  width: 80%;
  font-size: 20px;
}

.signin input:last-child {
  width: 100px;
  text-align: center;
}


/* New Projects/Skills */

.newP h3 {
  font-size: 40px;
  margin: 20px 10px;
  color: #5B5C5E;
  padding: 20px;
  border-bottom: 1px solid #5B5C5E;
}

.newProject {
  color: #5B5C5E;
}

.newProject label {
  text-align: right;
  font-size: 20px;
}

.formLeft {
  width: 33%;
  float: left;
}

.formRight {
  width: 40%;
  float: left;
  margin-left: 50px;
  padding: 5px;
}

.inputs {
  padding: 20px;
}

.categories {
  float: left;
  width: 100%;
}

.categories img {
  width: 75px;
}

.icons  {
  position: relative;
  float: left;
  margin-right: 30px;
  text-align: center;
  font-size: 12px;
}

.iconLabel {
  position: absolute;
  width: 75px;
  height: 20px;
  background: url('/categoryIcon_label_75x20.png');
  top: 55px;
  color: #FFFFFF;
}

.categories .comLev {
  font-size: 14px;
  margin: 10px;
}

.post {
  text-align: center;
  margin: 30px;
}

@media screen and (max-width: 320px) {
  .newProject {
    width: 100%;
    margin: 0;
  }

  .newProject label {
    margin-bottom: 10px;
  }

  .newProject .formLeft {
    text-align: left;
    width: 100%;
    float: none;
  }

  .newProject .formRight {
    width: 100%;
    float: none;
    margin: 0;
  }

  .newProject .inputs {
    padding: 15px 30px;
  }

  .signin {
    width: 80%;
  }
}
