/* Header */

.mainHeader {
  background: #3e4957;
  position: relative;
}

.title {
  margin-top: 20px;
  margin-left: 20px;
}

.title img {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.mainHeader h1 {
  font: normal 55px/55px 'exoextrabold', sans-serif;
  color: #FFFFFF;
  margin-bottom: 10px;
  float: left;
}

.mainHeader h1 a {
  text-decoration: none;
  color: inherit;
}

.mainHeader h3 {
  font: normal 18px/28px 'colaborate-regularregular', sans-serif;
  color: #FFFFFF;
  padding-bottom: 20px;
  float: left;
  clear: both;
}

.mainHeader h5 {
  padding: 10px 20px 0 0;
  font-size: 18px;
  color: #2AA3D5;
}

.dropdown, .login {
  position: absolute;
  right: 30px;
  top: 0;
}

.dropdown-menu {
  position: static;
  float: right;
  clear: both;
}

.dropdown a {
  text-decoration: none;
}

.login {
  background: #c6d0de;
  color: #3E4958;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 40px;
  margin-right: 20px;
}


.log a {
  display: none;
  text-decoration: none;
  float: right;
  margin-top: 10px;
}

.mobileLog h5 {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.mobileLog li {
  display: block;
}

.mainNav li a {
  text-decoration: none;
}

.errors {
  width: 40%;
  margin: auto;
  color: #FFFFFF;
  background: #000000;
  opacity: 0.6;
  padding: 20px;
}



@media screen and (max-width: 670px) {

  .mainHeader .title h1 {
    font-size: 35px;
    margin: 0;
  }

  .title h3, .login, .normalLog, .mainNav {
    display: none;
  }

  .title img {
    width: 30px;
    margin-top: 10px;
  }

  .log a {
    display: inline;
  }

  .title {
    margin: 0 0 0 10px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .mainHeader .title h1 {
    font-size: 28px;
  }
}
