/* Fonts */
@font-face {
    font-family: 'exoextrabold';
    src: url('/exo-extrabold-webfont.eot');
    src: url('/exo-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/exo-extrabold-webfont.woff') format('woff'),
         url('/exo-extrabold-webfont.ttf') format('truetype'),
         url('/exo-extrabold-webfont.svg#exoextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoblack';
    src: url('/exo-black-webfont.eot');
    src: url('/exo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/exo-black-webfont.woff') format('woff'),
         url('/exo-black-webfont.ttf') format('truetype'),
         url('/exo-black-webfont.svg#exoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exoregular';
    src: url('/exo-regular-webfont.eot');
    src: url('/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/exo-regular-webfont.woff') format('woff'),
         url('/exo-regular-webfont.ttf') format('truetype'),
         url('/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaborate-regularregular';
    src: url('/ColabReg-webfont.eot');
    src: url('/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/ColabReg-webfont.woff') format('woff'),
         url('/ColabReg-webfont.ttf') format('truetype'),
         url('/ColabReg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */

/**** General ****/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: " ";
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

body {
  background: #F1F1F2;
}

.container {
  font: normal 15px/20px 'colaborate-regularregular', sans-serif;
}










/* Sign-In and Sign-up */

.signin {
  width: 40%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.signin input {
  padding: 15px;
  margin: 20px;
  width: 80%;
  font-size: 20px;
}

.signin input:last-child {
  width: 100px;
  text-align: center;
}



/* Project Modal */

.modalHeader {
  padding: 10px 20px;
  border-bottom: 1px solid #363633;
  color: #5B5C5E;
}

.modalHeader h3 {
  font-size: 30px;
  color: #418CCD;
}

.modalHeader h5 {
  font-size: 18px;
}

.modalHeader img {
  width: 75px;
}

.modalBody {
  padding: 10px 20px;
  color: #5B5C5E;
  font-size: 14px;
}

.modalBody h4 {
  font-size: 24px;
}

.modalBody img {
  width: 75px;
  padding-right: 20px;
  margin: 0;
}

.modal li {
  margin: 40px 0;
}

.modal .contact {
  background: #B9B9B9;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline;
}

.contactBtn {
  margin-bottom: 20px;
}

.contactBtn a {
  text-decoration: none;
}


/* New Projects/Skills */

.newP h3 {
  font-size: 40px;
  margin: 20px 10px;
  color: #5B5C5E;
  padding: 20px;
  border-bottom: 1px solid #5B5C5E;
}

.newProject {
  color: #5B5C5E;
}

.newProject label {
  text-align: right;
  font-size: 20px;
}

.formLeft {
  width: 33%;
  float: left;
}

.formRight {
  width: 40%;
  float: left;
  margin-left: 50px;
  padding: 5px;
}

.inputs {
  padding: 20px;
}

.categories {
  float: left;
  width: 100%;
}

.categories img {
  width: 75px;
}

.icons  {
  position: relative;
  float: left;
  margin-right: 30px;
  text-align: center;
  font-size: 12px;
}

.iconLabel {
  position: absolute;
  width: 75px;
  height: 20px;
  background: url('/categoryIcon_label_75x20.png');
  top: 55px;
  color: #FFFFFF;
}

.categories .comLev {
  font-size: 14px;
  margin: 10px;
}

.post {
  text-align: center;
  margin: 30px;
}


